**/tests/fixtures/**/*
!packages/scope-manager/tests/fixtures/**/*
**/tests/fixture-project/**/*
**/dist
**/nyc_output
**/coverage
**/shared-fixtures
**/.vscode
**/.nyc_output
**/.vs
packages/eslint-plugin-tslint/tests/test-tslint-rules-directory/alwaysFailRule.js
.github
packages/eslint-plugin/src/configs/*.json
.all-contributorsrc
CONTRIBUTORS.md
package-lock.json

# Ignore CHANGELOG.md files to avoid issues with automated release job
CHANGELOG.md
SECURITY.md
README.md
LICENSE
**/.env
**/.npmrc
**/.editorconfig
**/.gitignore
**/.prettierignore
**/.stylelintignore
**/.next
**/*.xml
**/*.txt
**/*.css
public/**
out/**

# TODO - remove this once prettier supports labelled tuples
packages/scope-manager/tests/fixtures/type-declaration/tuple-labelled.ts
packages/scope-manager/tests/fixtures/type-declaration/tuple-labelled-rest.ts
