.headlogo {
  background-image: url('/assets/images/logo-7ddb1f8f39.png');
  background-size: 155px 48px;
  display: block;
  height: 48px;
  width: 155px;
}

.headlogoSide {
  background-image: url('/assets/images/logo-7ddb1f8f39.png');
  background-size: 155px 48px;
  display: block;
  height: 48px;
  margin-inline: auto;
  width: 155px;
}

@media screen and (max-width: 639px) {
  .headlogo {
    background-size: 110px 34px;
    height: 34px;
    width: 110px;
  }
}

@media (prefers-color-scheme: dark) {
  .headlogo,
  .headlogoSide {
    background-image: url('/assets/images/logo-dark-7ddb1f8f39.png');
  }
}