

.mailtext {
  display: none;
}

.formfield {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: calc(var(--spacing) * 2);
  width: 100%
}

.checkboxfield {
  display: flex;
  width: 100%;
}

.textinput,
.textinputwhite,
.textinputerror {
  appearance: none;
  background-color: var(--color-gray-100);
  border-radius: 0.25rem;
  border-style: var(--tw-border-style);
  border-width: 1px;
  color: var(--color-gray-800);
  display: block;
  line-height: var(--leading-tight);
  margin-bottom: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 4);
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-duration: 150ms;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-timing-function: var(--ease-in-out);
  width: 100%;
}

.textinput,
.textinputerror {
  background-color: var(--color-gray-100);
}

.textinput,
.textinputwhite {
  border-color: var(--color-gray-500);
}

.textinputwhite {
  background-color: var(--color-white);
}

.textinputerror {
  border-color: var(--color-red-700);
}

.textinput:focus,
.textinput:hover,
.textinputwhite:focus,
.textinputwhite:hover,
.textinputerror:focus,
.textinputerror:hover {
  border-color: var(--color-secondary);
  outline-style: none;
}

.textinput:focus + label,
.textinput:hover + label,
.textinputwhite:focus + label,
.textinputwhite:hover + label,
.textinputerror:focus + label,
.textinputerror:hover + label {
  color: var(--color-secondary);
}

.checkbox {
  opacity: 0%;
  position: absolute;
}

.checkbox:checked + svg {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .textinput,
  .textinputwhite,
  .textinputerror {
    background-color: var(--color-black);
    color: var(--color-gray-300);
  }

  .textinputerror {
    border-color: var(--color-red-500);
  }

  .textinput:focus,
  .textinput:hover,
  .textinputwhite:focus,
  .textinputwhite:hover,
  .textinputerror:focus,
  .textinputerror:hover {
    border-color: var(--color-secondary-dark);
  }

  .textinput:focus + label,
  .textinput:hover + label,
  .textinputwhite:focus + label,
  .textinputwhite:hover + label,
  .textinputerror:focus + label,
  .textinputerror:hover + label {
    color: var(--color-secondary-dark);
  }
}
