.activated,
.navbarlink {
  --tw-font-weight: var(--font-weight-thin);
  --tw-tracking: var(--tracking-widest);
  --tw-duration: 300ms;
  --tw-ease: var(--ease-in-out);
  color: rgba(23, 23, 23, 1);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-thin);
  letter-spacing: var(--tracking-widest);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  position: relative;
  text-transform: uppercase;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-timing-function: var(--ease-in-out);
}

.activated {
  color: var(--color-secondary);
}

.activated::before,
.navbarlink::before {
  --tw-font-weight: var(--font-weight-thin);
  --tw-tracking: var(--tracking-widest);
  --tw-duration: 300ms;
  --tw-ease: var(--ease-in-out);
  background-color: var(--color-secondary);
  bottom: -8px;
  content: "";
  height: 2px;
  margin: 2px 0 0;
  opacity: 0%;
  position: absolute;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-timing-function: var(--ease-in-out);
  width: calc(var(--spacing) * 0);
}

.activated:before {
  opacity: 100%;
  width: 100%;
}

.activated:hover,
.navbarlink:hover {
  --tw-font-weight: var(--font-weight-thin);
  --tw-tracking: var(--tracking-widest);
  --tw-duration: 300ms;
  --tw-ease: var(--ease-in-out);
  color: var(--color-secondary);
  opacity: 75%;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-timing-function: var(--ease-in-out);
}

.activated:hover::before,
.navbarlink:hover::before {
  --tw-font-weight: var(--font-weight-thin);
  --tw-tracking: var(--tracking-widest);
  --tw-duration: 300ms;
  --tw-ease: var(--ease-in-out);
  color: var(--color-secondary);
  opacity: 75%;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-timing-function: var(--ease-in-out);
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .navbarlink {
    color: var(--color-gray-300);
  }

  .activated {
    color: var(--color-secondary-dark);
  }

  .activated::before,
  .navbarlink::before {
    background-color: var(--color-secondary-dark);
  }

  .activated:hover,
  .activated:hover::before,
  .navbarlink:hover::before,
  .navbarlink:hover {
    color: var(--color-secondary-dark);
  }
}
