/* stylelint-disable at-rule-no-unknown */

@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #ff0000;
  --color-secondary-dark: #ff0000;
  --color-header: #ffffff;
  --color-link: #ff0000;
  --color-link-dark: #ff0000;
  --color-link-dark-hover: #f3f4f6;
  --color-heading: #ff0000;
  --color-heading-dark: #ff0000;
  --color-paragraph: #101828;
  --color-paragraph-dark: #d1d5dc;
}

:target {
  display: block;
  position: relative;
  top: -92px;
  visibility: hidden;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.strecken-index-image {
  background-image: url('/assets/images/index-bg-strecken.jpg');
  background-position: center center;
  background-size: cover;
}

.index-page-article p {
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  .images-dark {
    filter: grayscale(60%);
  }

  .strecken-index-image {
    background-image: url('/assets/images/index-bg-strecken-dark.jpg');
  }
}
